@font-face {
  font-family: 'open-sans';
  src: url('../assets/fonts/Open_Sans/OpenSans-Regular.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'open-sans-bold';
  src: url('../assets/fonts/Open_Sans/OpenSans-Bold.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: 'open-sans-light';
  src: url('../assets/fonts/Open_Sans/OpenSans-Light.ttf') format('truetype');
}
